FTP-integration-Database.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>eed576ff-0186-1000-b27f-88349e25654d</groupId>
    <name>FTP-integration-Database</name>
    <snippet>
        <connections>
            <id>324c2382-2643-375f-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>324c2382-2643-375f-abd1-6bced0a77525</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>504.08856201171875</x>
                <y>674.921501159668</y>
            </bends>
            <bends>
                <x>504.08856201171875</x>
                <y>724.921501159668</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>2b64ce20-6c2e-3e63-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2b64ce20-6c2e-3e63-867f-6b5f86ead9cf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>2b64ce20-6c2e-3e63-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2b64ce20-6c2e-3e63-867f-6b5f86ead9cf</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3aac514c-898f-3713-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>490.420654296875</x>
                <y>481.9850616455078</y>
            </bends>
            <bends>
                <x>490.420654296875</x>
                <y>531.9850616455078</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>cd3770e7-e1c6-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>cd3770e7-e1c6-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6696e7c4-bcb9-3365-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a5ac0c77-f611-3f07-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a5ac0c77-f611-3f07-b8dd-af00be1cbe20</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7f30532c-b1ff-333e-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>7f30532c-b1ff-333e-b86c-76923e865ffb</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1130.9025268554688</x>
                <y>255.54022598266602</y>
            </bends>
            <bends>
                <x>1130.9025268554688</x>
                <y>305.540225982666</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>original</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a5489c0a-5024-3e3c-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>a5489c0a-5024-3e3c-9939-1225274a7dc2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a8a9eea7-3c6a-38b9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a8a9eea7-3c6a-38b9-9c01-1332bcec4819</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>2b64ce20-6c2e-3e63-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2b64ce20-6c2e-3e63-867f-6b5f86ead9cf</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a8256266-a90a-3d3d-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>a8256266-a90a-3d3d-8afc-7fead45a6f78</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1137.1273193359375</x>
                <y>264.3346366882324</y>
            </bends>
            <bends>
                <x>1137.1273193359375</x>
                <y>314.3346366882324</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b3b4500d-0717-36f7-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>cd3770e7-e1c6-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b1a39154-296c-3b03-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>befbd55d-de81-300e-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>2b64ce20-6c2e-3e63-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2b64ce20-6c2e-3e63-867f-6b5f86ead9cf</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>cd3770e7-e1c6-374f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>cf4bb70a-e663-353c-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>cf4bb70a-e663-353c-b1d1-1ae2301c853f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a5ac0c77-f611-3f07-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a5ac0c77-f611-3f07-b8dd-af00be1cbe20</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b882c195-423c-30a3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b882c195-423c-30a3-8ad7-90ef2c2989aa</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d8227837-25cd-36f4-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>d8227837-25cd-36f4-9dbd-b22978f6fece</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>464.3392911365945</x>
                <y>857.507500237066</y>
            </bends>
            <bends>
                <x>464.3392911365945</x>
                <y>907.507500237066</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a8a9eea7-3c6a-38b9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a8a9eea7-3c6a-38b9-9c01-1332bcec4819</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a8a9eea7-3c6a-38b9-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a8a9eea7-3c6a-38b9-9c01-1332bcec4819</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f88bfde4-85f8-32af-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1128.0751953125</x>
                <y>40.56532287597656</y>
            </bends>
            <bends>
                <x>1128.0751953125</x>
                <y>90.56532287597656</y>
            </bends>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a5ac0c77-f611-3f07-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a5ac0c77-f611-3f07-b8dd-af00be1cbe20</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>comms.failure</selectedRelationships>
            <selectedRelationships>not.found</selectedRelationships>
            <selectedRelationships>permission.denied</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>a5ac0c77-f611-3f07-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>a5ac0c77-f611-3f07-b8dd-af00be1cbe20</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fbf2d0bd-c8e0-30e0-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b1a39154-296c-3b03-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>52fa4836-5ebe-3c2d-0000-000000000000</groupId>
                <id>b757cac4-119b-3663-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>4a7e81b5-d263-337b-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>
                        <dependencies>
                            <dependentValues>rfc-4180</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim double quote</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>55720c05-4543-39e1-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <versionedComponentId>55720c05-4543-39e1-b10a-e0b86e71388c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://172.17.0.3:3306/mysql</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.cj.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/lib/mysql-connector-j-8.0.32.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>100000 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>2b64ce20-6c2e-3e63-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>640.0</y>
            </position>
            <versionedComponentId>2b64ce20-6c2e-3e63-867f-6b5f86ead9cf</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>put-db-record-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-db-record-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>db-type</key>
                        <value>
                            <name>db-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-statement-type</key>
                        <value>
                            <name>put-db-record-statement-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Statement Type Record Path</key>
                        <value>
                            <dependencies>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>Statement Type Record Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Record Path</key>
                        <value>
                            <name>Data Record Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-dcbp-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>put-db-record-dcbp-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-catalog-name</key>
                        <value>
                            <name>put-db-record-catalog-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-schema-name</key>
                        <value>
                            <name>put-db-record-schema-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-table-name</key>
                        <value>
                            <name>put-db-record-table-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-translate-field-names</key>
                        <value>
                            <name>put-db-record-translate-field-names</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-field-behavior</key>
                        <value>
                            <name>put-db-record-unmatched-field-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-column-behavior</key>
                        <value>
                            <name>put-db-record-unmatched-column-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-update-keys</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>UPSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<dependentValues>SQL</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-update-keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-field-containing-sql</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-field-containing-sql</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-allow-multiple-statements</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-allow-multiple-statements</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-identifiers</key>
                        <value>
                            <name>put-db-record-quoted-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-table-identifiers</key>
                        <value>
                            <name>put-db-record-quoted-table-identifiers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-query-timeout</key>
                        <value>
                            <name>put-db-record-query-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>
                            <name>table-schema-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-db-record-max-batch-size</key>
                        <value>
                            <dependencies>
<dependentValues>Use statement.type Attribute</dependentValues>
<dependentValues>Use Record Path</dependentValues>
<dependentValues>INSERT</dependentValues>
<dependentValues>UPDATE</dependentValues>
<propertyName>put-db-record-statement-type</propertyName>
                            </dependencies>
                            <name>put-db-record-max-batch-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>put-db-record-record-reader</key>
                        <value>4a7e81b5-d263-337b-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>db-type</key>
                        <value>MySQL</value>
                    </entry>
                    <entry>
                        <key>put-db-record-statement-type</key>
                        <value>INSERT</value>
                    </entry>
                    <entry>
                        <key>Statement Type Record Path</key>
                    </entry>
                    <entry>
                        <key>Data Record Path</key>
                    </entry>
                    <entry>
                        <key>put-db-record-dcbp-service</key>
                        <value>55720c05-4543-39e1-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-db-record-catalog-name</key>
                    </entry>
                    <entry>
                        <key>put-db-record-schema-name</key>
                    </entry>
                    <entry>
                        <key>put-db-record-table-name</key>
                        <value>new.load_temp_300001521</value>
                    </entry>
                    <entry>
                        <key>put-db-record-translate-field-names</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-field-behavior</key>
                        <value>Ignore Unmatched Fields</value>
                    </entry>
                    <entry>
                        <key>put-db-record-unmatched-column-behavior</key>
                        <value>Fail on Unmatched Columns</value>
                    </entry>
                    <entry>
                        <key>put-db-record-update-keys</key>
                    </entry>
                    <entry>
                        <key>put-db-record-field-containing-sql</key>
                    </entry>
                    <entry>
                        <key>put-db-record-allow-multiple-statements</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-quoted-table-identifiers</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>put-db-record-query-timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>table-schema-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-db-record-max-batch-size</key>
                        <value>0</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutDatabaseRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
        </processors>
        <processors>
            <id>a5ac0c77-f611-3f07-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>656.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>a5ac0c77-f611-3f07-b8dd-af00be1cbe20</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hostname</key>
                        <value>
                            <name>Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote File</key>
                        <value>
                            <name>Remote File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>
                            <name>Completion Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>
                            <name>Move Destination Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Directory</key>
                        <value>
                            <name>Create Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Compression</key>
                        <value>
                            <name>Use Compression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>
                            <name>Connection Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>
                            <name>Transfer Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                        <value>
                            <name>Http Proxy Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                        <value>
                            <name>Http Proxy Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>
                            <name>Internal Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>fetchfiletransfer-notfound-loglevel</key>
                        <value>
                            <name>fetchfiletransfer-notfound-loglevel</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>
                            <name>ftp-use-utf8</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hostname</key>
                        <value>ftp.synnex.com</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>21</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>u644821</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Remote File</key>
                        <value>/PRICE.ZIP</value>
                    </entry>
                    <entry>
                        <key>Completion Strategy</key>
                        <value>Move File</value>
                    </entry>
                    <entry>
                        <key>Move Destination Directory</key>
                        <value>/opt/nifi/nifi-current</value>
                    </entry>
                    <entry>
                        <key>Create Directory</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Use Compression</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>Passive</value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>Binary</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>DIRECT</value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>16KB</value>
                    </entry>
                    <entry>
                        <key>fetchfiletransfer-notfound-loglevel</key>
                        <value>ERROR</value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>FetchFTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>comms.failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not.found</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>permission.denied</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.FetchFTP</type>
        </processors>
        <processors>
            <id>a8a9eea7-3c6a-38b9-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>16.0</x>
                <y>816.0</y>
            </position>
            <versionedComponentId>a8a9eea7-3c6a-38b9-9c01-1332bcec4819</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                        <value>
                            <name>sql-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                        <value>
                            <name>sql-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>
                            <name>compression-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>
                            <name>esql-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>
                            <name>esql-auto-commit</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>55720c05-4543-39e1-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select * from new.load_temp_300001521;</value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>20 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExecuteSQL</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>b1a39154-296c-3b03-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>200.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>b757cac4-119b-3663-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>664.0</x>
                <y>216.0</y>
            </position>
            <versionedComponentId>b757cac4-119b-3663-8ef5-ac2c67eca1ca</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Packaging Format</key>
                        <value>
                            <name>Packaging Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Packaging Format</key>
                        <value>zip</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UnpackContent</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.UnpackContent</type>
        </processors>
        <processors>
            <id>b882c195-423c-30a3-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>b882c195-423c-30a3-8ad7-90ef2c2989aa</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hostname</key>
                        <value>
                            <name>Hostname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                        <value>
                            <name>Remote Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Distributed Cache Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>Distributed Cache Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>
                            <name>Search Recursively</name>
                        </value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>
                            <name>follow-symlink</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                        <value>
                            <name>File Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                        <value>
                            <name>Path Filter Regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>
                            <name>Ignore Dotted Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>
                            <name>Remote Poll Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>
                            <name>Connection Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>
                            <name>Transfer Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                        <value>
                            <name>Http Proxy Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                        <value>
                            <name>Http Proxy Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>
                            <name>Internal Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>
                            <name>ftp-use-utf8</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>listing-strategy</key>
                        <value>none</value>
                    </entry>
                    <entry>
                        <key>Hostname</key>
                        <value>ftp.synnex.com</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>21</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>u644821</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Remote Path</key>
                        <value>/opt/nifi/nifi-current/</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                    <entry>
                        <key>Distributed Cache Service</key>
                    </entry>
                    <entry>
                        <key>Search Recursively</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>follow-symlink</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>File Filter Regex</key>
                    </entry>
                    <entry>
                        <key>Path Filter Regex</key>
                    </entry>
                    <entry>
                        <key>Ignore Dotted Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Remote Poll Batch Size</key>
                        <value>5000</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>30 sec</value>
                    </entry>
                    <entry>
                        <key>Connection Mode</key>
                        <value>Passive</value>
                    </entry>
                    <entry>
                        <key>Transfer Mode</key>
                        <value>Binary</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>DIRECT</value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Username</key>
                    </entry>
                    <entry>
                        <key>Http Proxy Password</key>
                    </entry>
                    <entry>
                        <key>Internal Buffer Size</key>
                        <value>16KB</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>ftp-use-utf8</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>true</executionNodeRestricted>
            <name>ListFTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFTP</type>
        </processors>
        <processors>
            <id>cd3770e7-e1c6-374f-0000-000000000000</id>
            <parentGroupId>52fa4836-5ebe-3c2d-0000-000000000000</parentGroupId>
            <position>
                <x>24.0</x>
                <y>440.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.20.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <dependencies>
<dependentValues>Regex Replace</dependentValues>
<dependentValues>Literal Replace</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <dependencies>
<dependentValues>Prepend</dependentValues>
<dependentValues>Regex Replace</dependentValues>
<dependentValues>Always Replace</dependentValues>
<dependentValues>Append</dependentValues>
<dependentValues>Literal Replace</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Text to Prepend</key>
                        <value>
                            <dependencies>
<dependentValues>Surround</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Text to Prepend</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Text to Append</key>
                        <value>
                            <dependencies>
<dependentValues>Surround</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Text to Append</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>\\x7e</value>
                    </entry>
                    <entry>
                        <key>Text to Prepend</key>
                    </entry>
                    <entry>
                        <key>Text to Append</key>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Line-by-Line</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
    </snippet>
    <timestamp>05/03/2023 07:41:38 UTC</timestamp>
</template>
